h1 {
    font-family: Estonia-Regular;
    text-align: center;
    color: aliceblue;
}

body{
    font-family: SpecialElite-Regular;
    background-color: rgb(0, 0, 0);
    background-image:url();
    cursor: url('/images/Cursor.png'),auto;
  }

b{
    color: aliceblue;
   text-align: center;
}

img{
    width: 100%;
    height: auto;
}

@font-face {
    font-family: SpecialElite-Regular;
    src: url(..//fonts/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: RIMONS;
  src: url(..//fonts/RIMONS.ttf);
}

.mtext{
  text-align: center;
}



.carousel-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  overflow: hidden; 
}

.carousel {
  display: flex;
  transition: transform 15s ease;
}


.carousel img {
  width: 100%;
  height: auto;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots {
  text-align: center;
  padding-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}


.carousel-container:hover .carousel {
  animation-play-state: paused;
}