h1 {
    font-family: Estonia-Regular;
    text-align: center;
    color: aliceblue;
}

body{
    font-family: SpecialElite-Regular;
    background-color: rgb(0, 0, 0);
    background-image:url();
    }
