h1 {text-align: center;}

body{
    background-color: rgb(70, 68, 68);
    background-image:url();
    }

h3 {text-align: center;} 

.one{
    margin: 20;
    padding: 2
}

.text{
font-size: 12vh;
position: relative;
top: 12vh;
right: 12vh;
}