h1 {text-align: center;}

body{
    background-color: rgb(0, 0, 0);
    background-image:url();
    }


h3 {
    text-align: center;

}


button{
    background: none;
    border: none;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    position: relative;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


.text{
font-size: 12vh;
position: relative;
top: 12vh;
right: 12vh;
}

.grid-container{
    width: auto;
    height: 70rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row {
    margin: 0px;
    position: relative;
    width: 100%;
    text-align: center;
}

.intro {
    mask-position: 30rem;
    margin: 30rem;
    text-align: left;
    font-family: SpecialElite-Regular;
}

#gray:hover {
    filter:saturate(100%);
}

@font-face {
    font-family: SpecialElite-Regular;
    src: url(..//fonts/SpecialElite-Regular.ttf);
}